@font-face {
    font-family: 'MojaCzcionka';
    src: url('fonts/Golden Varsity Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MojaCzcionka', sans-serif;
    background-image: url("tlo2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    color: #222;
}

header {
    background: linear-gradient(to right, #000000d2, #3a3a3a);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 3px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

h2 {
    text-align: center;
    font-size: 2.8rem;
    margin: 60px 0 30px;
    color: #000000;
    text-shadow: 2px 2px 3px rgb(255, 255, 255);
}

#instrumenty {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px;
    width: 90%;
    margin: 0 auto;
}

.polaroid {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.polaroid:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.4);
}

.polaroid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.container {
    padding: 15px 20px;
    background: #f6f6f6;
}

.container h3 {
    font-size: 1.8rem;
    margin: 10px 0;
    color: #000;
}

.container p {
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 1.1rem;
    color: #333;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin: 60px auto;
    padding: 0;
}

li {
    background-color: rgba(0,0,0,0.7);
    color: rgb(231, 183, 80);
    font-size: 1.8rem;
    border-radius: 15px;
    padding: 15px 25px;
    transition: 0.3s;
}

li:hover {
    background-color: #000;
    color: white;
    transform: scale(1.05);
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #3a3a3a, #000000d2);
    color: white;
    text-shadow: 1px 1px 3px black;
    padding: 25px 10%;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    header { font-size: 2.5rem; padding: 20px; }
    h2 { font-size: 2rem; }
    .container h3 { font-size: 1.5rem; }
    .container p { font-size: 1rem; }
    footer { flex-direction: column; gap: 10px; font-size: 1rem; }
}

