#map { 
    width: 600px;
    height: 400px;
    border: 2px solid #888;
    margin-left: 650px;
    border: double 10px rgb(8, 8, 8);
    border-radius: 10px;
    padding: 10px;
}

#puzzle-board {
    width: 600px;
    height: 400px;
    border: double 10px rgb(8, 8, 8);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    background-image:
        linear-gradient(to right, rgba(0, 0, 0, 0.2) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
    background-size: 25% 25%;
    background-color: #f4f4f4;
}


#pieces-container {
    width: 600px;
    height: 400px;
    border: double 10px rgb(8, 8, 8);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 5px;
    overflow-y: auto;
}

.piece {
    width: 150px;
    height: 100px;
    border: 1px solid #666;
    cursor: grab;
    background-size: 600px 400px;
}
h2{
    text-align: center;
    border: 1px outset black;
    background-color: white;
    box-shadow: 1px 2px #838181;
    border: double 2px rgb(8, 8, 8);
    border-radius: 10px;
    padding: 10px;
}
body{
    background-color: rgb(152, 218, 218);
}
button{
    margin-top: 20px;
    margin-left: 10px;
    border: 1px outset black;
    background-color: white;
    box-shadow: 1px 2px #838181;
    border: double 2px rgb(8, 8, 8);
    border-radius: 1em;
}
button:hover{
    background-color: #c4ecdd;
}
#positionInfo{
    margin-left: 600px;
}
#getLocation{
    margin-left: 800px;
}
#kafelki {
    margin-top: 10px;
    margin-left: 320px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
}